{% extends 'base.html' %}

{% block title %}Profil{% endblock %}

{% block content %}
    <div>
        {% include 'navbar.html' %}
        {% include 'flash.html' %}
        <div class="container">
            <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 5em;">
                <form method="POST" action="{{ url_for('bahan_masakan') }}">
                    {% include 'flash.html' %}
                    <h1>Bahan dari {{ bahan }}</h1>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">SUM</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name='jumlah_bahan' placeholder="Jumlah bahan">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">UNIT</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="satuan" placeholder="Satuan bahan">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">OBJ</span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" name="bahan" placeholder="Apakah bahan itu">
                     </div>
                     <button type="submit" class="btn btn-outline-secondary">Masukkan bahan</button>
                </form>
            </div>
        </div>
    </div>
        </div>
    <div>
        {% for i in bahan_mentah %}
        <ul>
            <li>
                {{i.jumlah_bahan}} {{i.satuan}}
            </li>
            <li>
                {{i.bahan}}
            </li>
        </ul>
        {% endfor %}

    </div>
{% endblock %}