{% extends 'base.html' %}
{% block title %}Detail Postingan{% endblock %}
{% block content %}  
    {% include 'navbar.html' %}
    {% if data%}
        <div class="text-center">
            <img src="{{url_for('static', filename='uploads/'+gambar.file)}}" style="height: 25rem; width: 20rem;" alt="{{ gambar.judul }}">
        </div>
        <div style="margin-top: 2em;" class="container">
            <ol class="list-group list-group-numbered">
                {% for i in data %}
                    <li  class="list-group-item">{{ i.bahan }} {{ i.jumlah_bahan }} {{i.satuan}}</li>
                {% endfor %}
            </ol>
        </div>
    {%else %}
            <h2>Belum posting apapun</h2>
    {% endif %}
{% endblock %}