<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">CookeApps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if username %}
            <a href='/login/profil' class="nav-link">{{ username }}</a>
          {% else %}
            <a href='/login/profil' class="nav-link">Profil</a>
          {% endif %}
        </div>
        <div class="navbar-nav">
            <a href='/login/postingan' class="nav-link">Postingan</a>
        </div>
        <div class="navbar-nav">
          <a href="/login/global" class="nav-link">Global</a>
        </div>
        <div class="navbar-nav">
            <a href="{{ url_for('logout') }}" class="nav-link">logout</a>
        </div>
      </div>
    </div>
  </nav>