{% extends 'base.html' %}
{% block title %}Postingan{% endblock %}
{% block content %}
    {% include 'navbar.html' %}
    {% if data|length < 1 %}
        <div class="text-center">
            <h4>Belum Posting Apapun</h4>
        </div>
    {%else %}
            <div style="display: flex; flex-wrap: wrap; justify-content: center;">
                <div style="flex-basis: 40em;">
                    {% include 'flash.html' %}
                    {%for i in range(data|length)%}
                        <div class="border border-1" style="padding: 1.3em;">
                            <img class="text-center" src="{{url_for('static', filename='uploads/'+ data[i].file)}}" style="height: 25rem; width: 100%;" alt="{{ data[i].judul }}">
                            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                <a href="{{ url_for('detail_postingan', id=data[i].id) }}" style="text-decoration: none; text-transform: capitalize;">
                                    {{ data[i].judul}}
                                </a>
                            </h4>
                            <span>{{ data[i].waktu }}</span>
                            <div style="margin-top: 3rem; justify-content: center; display: flex; flex-wrap: wrap; justify-content: center;">
                                <form action="{{url_for('hapus_resep', id=data[i].id)}}" method="POST">
                                    <button type="submit" class="btn btn-outline-dark">Hapus</button>
                                </form>
                            </div>
                        </div>
                    {%endfor%}
                </div>
            </div>
    {% endif %}
{% endblock %}