{% extends 'base.html' %}

{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        {% include 'flash.html' %}
        <div style="display: flex; flex-wrap: wrap; justify-content: center;margin: 10em;">
            <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">CookeApps</h4>
        </div>
        <div>
            <form class="row g-3 needs-validation" action="{{ url_for('registrasi_user') }}" method="POST" novalidate>
                <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Username</label>
                <input type="text" class="form-control" id="validationCustom01" name='username' placeholder="Masukkan username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-4">
                <label for="validationCustom02" class="form-label">Password</label>
                <input type="password" class="form-control" id="validationCustom02" name='password' placeholder='Masukkan password' required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                </div>
                <div class="col-md-4">
                <label for="validationCustomUsername" class="form-label">Email</label>
                <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name='email' placeholder='Masukkan email' required>
                    <div class="invalid-feedback">
                    Please choose a email.
                    </div>
                </div>
                </div>
                <button class="btn btn-primary" type="submit">Registrasi</button>
                <p>Sudah memiliki akun ? <a href="/login" class="link-info">Login disini</a></p>
            </form>
        </div>
    </div>
    <script>
        (function () {
        'use strict'

        var forms = document.querySelectorAll('.needs-validation')

        Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
            })
        })()
    </script>
{% endblock %}